Repository nokamoto/2021sandbox, changes with the labels that .github/labeler.yml gives for each.
All labels: example, docs, build, actions, sbx

.github/labeler.yml:

example:
- cmd/example/*
- cmd/example/**/*
- api/example/*
- api/example/**/*

docs:
- docs/*
- docs/**/*

build:
- .github/workflows/*
- .github/workflows/**/*

actions:
- .github/actions/*
- .github/actions/**/*

sbx:
- tools/rust/sbx/*
- tools/rust/sbx/**/*

Fix labeler: HttpError: Resource not accessible by integration
  .github/workflows/labeler.yaml
Labels: build

branch
  .github/workflows/labeler.yaml
Labels: build

Fix labeler: HttpError: Resource not accessible by integration (#31)
  .github/workflows/labeler.yaml
Labels: build

Add rust formatter and linter
  .github/workflows/rust.yaml
  .gitpod.Dockerfile
  tools/rust/sbx/Makefile
Labels: build, sbx

Add rust formatter and linter (#32)
  .github/workflows/rust.yaml
  .gitpod.Dockerfile
  tools/rust/sbx/Makefile
Labels: build, sbx

Add unimplemented clap commands
  .gitpod.yml
  docs/README.md
  tools/rust/sbx/Cargo.lock
  tools/rust/sbx/Cargo.toml
  tools/rust/sbx/Makefile
  tools/rust/sbx/src/main.rs
Labels: docs, sbx

Add unimplemented clap commands (#33)
  .gitpod.yml
  docs/README.md
  tools/rust/sbx/Cargo.lock
  tools/rust/sbx/Cargo.toml
  tools/rust/sbx/Makefile
  tools/rust/sbx/src/main.rs
Labels: docs, sbx

Split rust modules
  tools/rust/sbx/src/example/create.rs
  tools/rust/sbx/src/example/delete.rs
  tools/rust/sbx/src/example/get.rs
  tools/rust/sbx/src/example/mod.rs
  tools/rust/sbx/src/main.rs
Labels: sbx

Split rust modules (#36)
  tools/rust/sbx/src/example/create.rs
  tools/rust/sbx/src/example/delete.rs
  tools/rust/sbx/src/example/get.rs
  tools/rust/sbx/src/example/mod.rs
  tools/rust/sbx/src/main.rs
Labels: sbx

Add tonic grpc example client
  docs/README.md
  tools/rust/sbx/Cargo.lock
  tools/rust/sbx/Cargo.toml
  tools/rust/sbx/build.rs
  tools/rust/sbx/src/example/create.rs
  tools/rust/sbx/src/example/delete.rs
  tools/rust/sbx/src/example/get.rs
  tools/rust/sbx/src/example/mod.rs
  tools/rust/sbx/src/main.rs
Labels: docs, sbx

Add tonic grpc example client (#37)
  docs/README.md
  tools/rust/sbx/Cargo.lock
  tools/rust/sbx/Cargo.toml
  tools/rust/sbx/build.rs
  tools/rust/sbx/src/example/create.rs
  tools/rust/sbx/src/example/delete.rs
  tools/rust/sbx/src/example/get.rs
  tools/rust/sbx/src/example/mod.rs
  tools/rust/sbx/src/main.rs
Labels: docs, sbx

Bump @actions/core from 1.5.0 to 1.6.0 in /.github/actions/delete-gcr
  .github/actions/delete-gcr/dist/index.js
  .github/actions/delete-gcr/package-lock.json
  .github/actions/delete-gcr/package.json
Labels: actions

Bump @actions/core from 1.5.0 to 1.6.0 in /.github/actions/delete-gcr (#43)
  .github/actions/delete-gcr/dist/index.js
  .github/actions/delete-gcr/package-lock.json
  .github/actions/delete-gcr/package.json
Labels: actions

Add minimatch examples
  tools/ts/minimatchex/.eslintignore
  tools/ts/minimatchex/.eslintrc.js
  tools/ts/minimatchex/.gitignore
  tools/ts/minimatchex/.prettierignore
  tools/ts/minimatchex/.prettierrc.json
  tools/ts/minimatchex/jest.config.js
  tools/ts/minimatchex/package-lock.json
  tools/ts/minimatchex/package.json
  tools/ts/minimatchex/src/main.test.ts
  tools/ts/minimatchex/tsconfig.json
Labels: none

add tests
  tools/ts/minimatchex/src/main.test.ts
Labels: none
